################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/genai-dotnet/.vs
/genai-dotnet/TextCompletion/bin/Debug/net10.0
/genai-dotnet/TextCompletion/obj
/genai-dotnet/TextCompletion_Ollama/bin/Debug/net10.0
/genai-dotnet/TextCompletion_Ollama/obj
/genai-dotnet/FunctionCall/bin/Debug/net10.0
/genai-dotnet/FunctionCall/obj
